.max-width{
    max-width:70%;
}
.flex{
    display: flex;
}
.center{
    align-items: center;
    text-align: center;
}
@media all and (max-width:1270px){
    .max-width{
        max-width:80%;
    }
}
@media all and (max-width:1270px){
    .max-width{
        max-width:90%;
    }
}